{%- assign desc = product.description -%}

{%- comment -%} Determine Tab 2 Heading {%- endcomment -%}
{%- assign tab_2_title = "Attribute" -%}
{%- if desc contains "STYLE TIP" -%}
  {%- assign tab_2_title = "Style Tip" -%}
{%- endif -%}

{%- comment -%} Split into 3 parts: Details, Middle, and Fit {%- endcomment -%}
{%- assign part1 = desc | split: "ATTRIBUTE" | first | split: "STYLE TIP" | first -%}

{%- if desc contains "ATTRIBUTE" -%}
    {%- assign part2 = desc | split: "ATTRIBUTE" | last | split: "SIZE AND FIT" | first -%}
{%- elsif desc contains "STYLE TIP" -%}
    {%- assign part2 = desc | split: "STYLE TIP" | last | split: "SIZE AND FIT" | first -%}
{%- else -%}
    {%- assign part2 = "" -%}
{%- endif -%}

{%- assign part3 = desc | split: "SIZE AND FIT" | last -%}
{%- if desc contains "SIZE AND FIT" == false -%}{%- assign part3 = "" -%}{%- endif -%}

<div class="product-tabs">
  <input type="radio" name="tabs" id="tabone" checked="checked">
  <label for="tabone">Details</label>
  <div class="tab">
    {{ part1 }}
  </div>

  {%- if part2 != blank -%}
  <input type="radio" name="tabs" id="tabtwo">
  <label for="tabtwo">{{ tab_2_title }}</label>
  <div class="tab">
    {{ part2 }}
  </div>
  {%- endif -%}

  {%- if part3 != blank -%}
  <input type="radio" name="tabs" id="tabthree">
  <label for="tabthree">Size & Fit</label>
  <div class="tab">
    {{ part3 }}
  </div>
  {%- endif -%}
</div>

<style>
  .product-tabs { display: flex; flex-wrap: wrap; margin: 30px 0; border-top: 1px solid #e1e1e1; }
  .product-tabs label {
    padding: 15px 0; margin-right: 30px; cursor: pointer;
    font-size: 13px; font-weight: 700; text-transform: uppercase;
    color: #999; transition: color 0.3s; order: 1;
  }
  .product-tabs input[type="radio"] { display: none; }
  .product-tabs .tab {
    width: 100%; padding: 20px 0; order: 2; display: none;
    border-top: 1px solid #e1e1e1; line-height: 1.8; font-size: 14px;
  }
  .product-tabs input[type="radio"]:checked + label { color: #000; border-bottom: 2px solid #000; margin-bottom: -1px; z-index: 2;}
  .product-tabs input[type="radio"]:checked + label + .tab { display: block; }
</style>